* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

     body {
        background: #f5EFE6;
        color: #333;
    }

    .container {
        display: flex;
        min-height: 100vh;
    }

    /* Navigation Pane */
    .navigation {
        flex: 0 0 200px;
        background-color:#f8dbb0;
        padding: 25px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    }
    
    .profile-icon {
        width: 120px;
        height: 120px;
        margin-top: 25%;
        margin-bottom: 90px;
    }

    .profile-icon img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid #fff;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: transform 0.15s;
    }

    .profile-icon img:hover{
        transform: scale(1.1);
        background-color: #fff;
        box-shadow: 0 0 5px 2px rgba(145,240,194,0.8);

    }

    .navigation ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
    
    .navigation a { 
        text-decoration: none;
        color: black;
    }

    .navigation li {
        text-align: center;
        padding: 10px;
        background:#f5EFE6;
        border-radius: 15px;
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    }

    .navigation li:hover {
        transform: scale(1.1);
        background-color: #fff;
        box-shadow: 0 0 5px 2px rgba(145,240,194,0.8);
    }

        /* Educational Content */

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 40px;
            margin:50px 50px;
        }
        
        .College {
            flex:auto;
            display: flex;
            align-items: center;
            height:35vh;
            gap: 20px;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            background-color: #ffffff;
        }

        .schooling{
             flex:auto;
            display: flex;
            align-items: center;
            height:35vh;
            gap: 20px;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        }
        .intermediate{
            display: flex;
            align-items: center;
            height:30vh;
            gap: 20px;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            background-color: #ffffff;
        
        }

        .Highschool{
            display: flex;
            align-items: center;
            height:30vh;
            gap: 20px;
            padding: 25px;
            border-radius: 12px;
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            background-color: #ffffff;
        
        }
        
        
        .College:hover, .intermediate:hover, .Highschool:hover {
            transform: translateY(-5px);
            box-shadow: 0 0 3px 4px rgba(145,240,194,0.8);
        }
        
        .logo {
            width: 60%;
            height: 60%;
            object-fit: contain;
        }
        
        .card-info h3 {
            font-family: 'Roboto Slab', serif;
            margin-bottom: 8px;
            font-size: 1.6rem;
            color: #7aedb5; 
        }
        
        .card-info p {
            font-size: 1.3rem;
            line-height: 1.5;
            color: #555;
        }

        .card-link {
            text-decoration:none;
        }

        .College {
            flex: 0 0 40%;
            border-left: 5px solid #91f0c2;
        }

        .schooling {
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 30px;
        }

        .intermediate, .Highschool {
            flex: 1;
        }
        
        .intermediate {
            border-left: 5px solid #91f0c2; 
        }
        
        .Highschool {
            border-left: 5px solid #91f0c2;
        }

         /* Responsive */
  @media (max-width: 900px) {
    .container {
      flex-direction: column;
    }

    .navigation {
      flex: 0 0 auto;
      width: 100%;
    }

    .navigation ul {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
}
    @media(max-width:1280px){
        .schooling{
            flex-direction: column;
        }

}
@media(max-width:500){
    .logo {
            width: 60%;
            height: 60%;
            object-fit: contain;
        }
        
        .card-info h3 {
            font-family: 'Roboto Slab', serif;
            margin-bottom: 8px;
            font-size: 1.6rem;
            color: #7aedb5; 
        }
        
        .card-info p {
            font-size: 1.3rem;
            line-height: 1.5;
            color: #555;
        }
}